<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UniEats</title>
    <link rel="icon" th:href="@{/images/fav-1.png}">
    <link rel="stylesheet" th:href="@{/auth/login.css}">
</head>
<body>
<header>
    <h2 class="logo">UniEats</h2>
    <nav class="navigation">
        <a href="#" th:href="@{/static}">Home</a>
        <a href="#">About</a>
        <a href="#">Order</a>
        <a href="#">Contact</a>
        <button class="btnLogin-popup">Login</button>
    </nav>
</header>

<div class="wrapper">
    <div class="form-box login">
        <h2 style="color: whitesmoke;">Login</h2>
        <form th:action="@{/login}" method="post">
            <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                <input type="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox" name="remember"> Remember me</label>
                <a th:href="@{/forgot-password}">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>Don't have an account? <a href="#" th:href="@{/register}">Register</a></p>
            </div>
        </form>
    </div>
</div>
<script src="/script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>