*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.signup-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 249, 241);
}

.wrapper .form-box{
    width:100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 1.45em;
    text-align: center;
    color: rgb(245, 245, 245, 100);
    margin-bottom: 1rem;
}
.signup-form {
    font-size: 2em;
    text-align: center;
    color: rgb(255, 249, 241);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: .85rem;
}


label {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(255, 249, 241);
}


input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}


input:focus {
    border-color: #9ca3af;
    box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.25);
}

.signup-btn {
    /*width: 70%;*/
    padding: 10px;
    background: rgb(241, 162, 98);
    color: #111827;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.signup-btn:hover {
    background: rgb(255, 249, 241);
    color: rgb(241, 162, 98);
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    /*font-size: 14px;*/
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    transition: color 0.2s;
}

.back-link:hover {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: underline;
}