*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(241, 162, 98);
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: rgb(255, 249, 241);
    user-select: none;

}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 249, 241);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(255, 249, 241);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: rgb(241, 162, 98);
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/background.png') no-repeat center/cover;
    font-family: 'Inter', sans-serif;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 249, 241);
}
.wrapper .form-box{
    width:100%;
    padding: 40px;

}
.form-box.h2{
    font-size: 2em;
    text-align: center;
    color: rgb(255, 249, 241);
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(255, 249, 241);
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(255, 249, 241);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;

}
.input-box input{
    width: 100%;;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(255, 249, 241);
    font-weight: 400;
    padding: 0 35px 0 5px;

}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size:1.2em;
    line-height:  57px;
}
.remember-forgot{
    font-size: 0.9em;
    color: rgb(255, 249, 241);
    font-weight: 400;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: rgb(241, 162, 98);
    margin-right: 3px;
}
.remember-forgot a{
    color: rgb(255, 249, 241);
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
    font-weight: 500;
    color: rgb(131, 97, 69);
}
.btn{
    width: 100%;
    height: 35px;
    background: rgb(241, 162, 98);
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1em;
    color: #111827;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;

}
.btn:hover {
    background: rgb(255, 249, 241);
    color: rgb(241, 162, 98);
}

.login-register{
    font-size: 0.95rem;
    color: rgb(255, 249, 241);
    text-align: center;
    margin: 25px 0 10px;
}
.login-register a{
    text-decoration: none;
    display: inline-block;
    margin-top: 4px;
}
.login-register a:hover{
    text-decoration: underline;
    /*color: rgb(37, 26, 17);*/
}
.register-text{
    font-size: 0.8rem;
    font-weight: 400;
    color:rgb(255, 230, 210);
}
.login-register .highlight-role{
    font-size: 1.2rem;
    font-weight: 800;
    color: rgb(241, 162, 98);
}