@import url('login.css');
.owner-wrapper {
    /*
    width: 450px;
    align-items: flex-start;
    border: 2px solid #ffffff;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    height: auto;
    min-height: 650px;
    display: block;
    padding: 40px 30px;
    */
    position: relative;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 249, 241);
}

.form-box {
    width: 100%;
    padding: 40px;
}

